//新增、添加的button
.table-add-layer{
  float:right;
  margin-right:0px;
}
.table-add-btn,.table-return-btn{
  float:right;
}

//设置 inline表单上下的间距
.ant-form-inline .ant-form-item{
  margin-bottom: 14px;
}

.ant-form-item .ant-transfer-list-body{
  margin-top: 14px
}


.ant-form-item .ant-transfer-list-body ul{
  height:100%-5px;
}
//把表单脚部的位置校准 （可能不同浏览器会有问题）
//要改
.FormItem-modal-footer{
  width:100%+6px;
  margin-left: -16px;
}


//弹出的高级搜索层
.margin-top-10,.filter-content-layer{
    margin-top: 10px;
}

//错误提示长度
.ant-form-explain{
  width: 500px;
  z-index: 999999;
}

//超链接
.Alink{
  color:#2db7f5;
  cursor:pointer;
}
.Alink:hover{
  color:#ff5f3e;
}

//hr分割线
.hr{
  height: 1px;
  border: 0;
  background: #e9e9e9;
  margin: 16px 0;
  clear: both;
}

//中文和字母 不断开分行
.word-break{
  word-break:break-all;
}


.div-inline{
  display: inline-block;
}

.line-height-small{
  line-height:20px !important;
}
//高亮字符
.item-highlight{
  //color:rgb(46, 143, 220);//#2db7f5;
}


.advanced-search-o{
  width: 100%;
 position:absolute;
 background-color: white;
 z-index:1000;
}
.advanced-search-form {
  padding: 16px 8px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}



/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */
.advanced-search-form > .row {
  margin-left: -10px;
}

.advanced-search-form > .row > .col-8 {
  padding: 0 8px;
}

.advanced-search-form .ant-form-item {
  margin-bottom: 16px;
}

.advanced-search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}


.tip-button{
  background: #f7f7f7;
  padding: 1px 6px;
  border-radius: 3px;
  color: #888;
  font-size: .8rem;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}

.icon-toinstlist{
  width: 12px;
  height: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background: url(//static.yyimg.com/ant-design/image/toinstlist.png) center 1px no-repeat;
}

.peizhicanshu-title,.peizhimokuai-title{
  border-left: 2px solid #88B7E0;
  font-size: 16px;
  padding-left: 5px;
}

.el-display-none{
  display: none;
}
.el-display-block{
  display: block;
}

//textarea 大小暂时设为不可伸缩
.ant-input-lg{
  resize:none;
}
